@page
@model AboutModel

@{
    ViewData["Title"] = "About";
}

<div class="d-flex flex-column h-100 text-center" style="overflow: hidden;">
    <h1 class="fw-bold">About Me</h1>
    <p>Tehran, Iran | Phone: +98 919 805 4320 | Email: jruhollah@gmail.com</p>
    <p>INFORMATION TECHNOLOGY / SOFTWARE ENGINEERING | Back End Developer</p>
    <p>Works in a team as a Back End Developer / Senior software engineer on different software solutions. Highly proficient in Software Developer and C#/.NET (2016–present). Has strong academic and industrial experience.</p>
    <p>Passionate Software Engineer with 8+ years in backend dev. Specialize in scalable systems. Based in Tehran, open to freelance.</p>
    <p>Interests: Coding, tech mentoring. Languages: English B2.</p>
</div>
