@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}                                               
<div class="d-flex flex-column align-items-center justify-content-center h-100" style="overflow: hidden;">
    <h1 class="display-1 fw-bold">WELCOME</h1>
    <h2 class="fw-bold">I'm Ruhollah Jafari</h2>  
    <p>Here You Can Find More Information About Me, My Recent Projects, And My Skills.</p>    
    <img src="~/images/Ruhollah Jafari Software Engineer_prev_ui.png" alt="Profile Picture" class="img-fluid mb-3" style="max-height: 40vh; object-fit: contain;" />
    <a href="/Contact" class="btn btn-primary">Contact Me</a>
</div>
